#main{
    width:90%;
    margin:0px auto;
   
}

.imgPanel{
    margin:0px auto;
    /*border:  1px solid black;*/
}

.imgPanel2{
    Width:500px;
    Height:500px;
    margin:0px auto;
    display: block;
    
}

.imgPanelGerichte{
    Width:500px;
    Height:500px;
    margin:0px auto;

}

.abstand{
    padding-bottom:100px;
    
}

.abstand2{
    margin:0px auto;
    padding-bottom:250px;
    padding-left:30px;
   
}

.links { 
    float: left;
    width: 200px;
    background :black;
}
.rechts {   background :red;}
