<?xml version="1.0" encoding="utf-8"?>
<!--
  Weitere Informationen zum Konfigurieren der ASP.NET-Anwendung finden Sie unter
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
 
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <connectionStrings>
    <add name="Database1Entities" connectionString="metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\Database1.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="Database1Entities1" connectionString="metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\Database1.mdf;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="Database1ConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database1.mdf;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework"
      providerName="System.Data.SqlClient" />
    <add name="MembershipConnectionString"
    connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\ASPNETDB.mdf;Integrated Security=true;MultipleActiveResultSets=True;Application Name=EntityFramework"
      providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.web>

    <!-- Wird benötigt damit Login form geht-->
    <authentication mode="Forms">
      <!-- redirect wenn nicht angemeldet -->
      <forms loginUrl ="login.aspx"   />
    </authentication>
    
    <membership defaultProvider="SqlMembershipProvider">
      <providers>
        <!-- Add a customized SqlMembershipProvider -->
        <add name="SqlMembershipProvider"
        type="System.Web.Security.SqlMembershipProvider"
        connectionStringName="MembershipConnectionString"
        enablePasswordRetrieval="false"
        enablePasswordReset="true"
        requiresQuestionAndAnswer="false"
        applicationName="/"
        requiresUniqueEmail="false"
        passwordFormat="Hashed"
        maxInvalidPasswordAttempts="5"
        minRequiredPasswordLength="7"
        minRequiredNonalphanumericCharacters="1"
        passwordAttemptWindow="10"
        passwordStrengthRegularExpression=""/>
      </providers>
       
 
    </membership>
    <anonymousIdentification enabled="true"/>
    <profile enabled="true" automaticSaveEnabled ="true" defaultProvider ="AspNetSqlProfileProvider">
      <!-- Wird benötigt um auf die Daten in der db zugreifen zu können -->
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="MembershipConnectionString" applicationName="/"/>
      </providers>
      <properties>
        <add name="anrede" allowAnonymous="false" type="System.Boolean" />
        <add name="vorname" allowAnonymous="true" type="System.String" />
        <add name="nachname" allowAnonymous="false" type="System.String"/>
        <add name="strasse" allowAnonymous="false" type="System.String" />
        <add name="hausnummer" allowAnonymous="false" type="System.String" />
        <add name="plz" allowAnonymous="false" type="System.String" />
        <add name="ort" allowAnonymous="false" type="System.String" />
        <add name="telefon" allowAnonymous="false" type="System.String" />
      </properties>
    </profile>
    
    
    <!-- Configure the Sql Role Provider. -->
    <roleManager enabled ="true"
     defaultProvider ="SqlRoleProvider" >
      <providers>
        <add name ="SqlRoleProvider"
          type="System.Web.Security.SqlRoleProvider"
          connectionStringName="MembershipConnectionString"
          applicationName="/"/>
      </providers>
    </roleManager>
  </system.web>
  
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>

  
  
</configuration>